/*
!/.gitignore

# Readme
!/README.md

############
### MODS ###
############
!/mods/
/mods/*
!/mods/*.jar

######################
### RESOURCE PACKS ###
######################
!/resourcepacks/
/resourcepacks/*
!/resourcepacks/*.zip

###############
### CONFIGS ###
###############
!/config/
/config/*

# Fast Better Grass
## Set Better Grass mode to 'fast'
!/config/bettergrass.json5

# Bridging Mod
## Configure bridging to only be horizontal and view the block's outline
!/config/bridgingmod.json

# Camera Overhaul
!/config/cameraoverhaul.toml

# Capes
!/config/capes.json5

# CEM
!/config/cem.conf

# CIT Resewn
!/config/citresewn.json

# Client Tweaks
!/config/clienttweaks-common.toml

# Debugify
!/config/debugify.json

# Dynamic FPS
!/config/dynamic_fps.json

# Emoji Type
## Add custom emojis
!/config/emojitype.json

# Emotecraft
!/config/emotecraft.json

# Enhanced Block Entities
!/config/enhanced_bes.properties

# ETF
!/config/entity_texture_features.json

# Fabric
!/config/fabric_loader_dependencies.json

# Fastquit
!/config/fastquit.toml

# ImmediatelyFast
!/config/immediatelyfast.json

# Iris
!/config/iris.properties

# Jade
!/config/jade/
/config/jade/*
!/config/jade/jade.json

# Just Zoom
!/config/justzoom/
/config/justzoom/*
!/config/justzoom/config.txt

# LambDynamicLights
!/config/lambdynlights.toml

# Main Menu Credits
!/config/isxander-main-menu-credits.json

# Midnight Controls
!/config/midnightcontrols.json

# MidnightLib
!/config/midnightlib.json

# ModernFix
!/config/modernfix-mixins.properties

# Mod Menu
!/config/modmenu.json

# No Chat Reports
!/config/NoChatReports/
/config/NoChatReports/*
!/config/NoChatReports/NCR-Client.json
!/config/NoChatReports/NCR-Common.json
!/config/NoChatReports/NCR-Encryption.json

# Panorama Screens
!/config/panorama_screens/
/config/panorama_screens/*
!/config/panorama_screens/settings.json

# PuzzleLib
!/config/puzzle.json

# Sodium
!/config/sodium-options.json

# Simple Voice Chat
!/config/voicechat/
/config/voicechat/*
!/config/voicechat/translations.properties
!/config/voicechat/username-cache.json
!/config/voicechat/voicechat-client.properties
!/config/voicechat/voicechat-server.properties
!/config/voicechat/voicechat-volumes.properties

# Xaero's Minimap
!/config/xaerominimap.txt


# Options
!/options.txt